@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
body{
	color:#1e1e1e;
	background-color: #fefefe;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin-top:0;
	line-height: 1
}
.img-responsive{
	width: 100%;
}
.btn-primary{
	float: right;
	background-color: transparent;
	border: 1px solid #c89812;
	padding:5px 15px;
	border-radius: 0;
	color:#1e1e1e;
}
/*header*/
.navbar-default{
	margin:0;
	border: 0
}
.navbar-default .navbar-header{
	position: relative;	
	float: left;
	margin-left: 10px
}
.navbar-default .navbar-header .navbar-brand{
	height: auto;
	padding: 0
}
.navbar-default .inform{
	float: right;
	margin: 37px 0
}
.navbar-default .text-right{
	margin-right: 30px
}
.navbar-default .inform strong span{
	margin-right: 7px;
	font-size: 14px;
	color:#cf3102;
}
.navbar-default .navbar-collapse{
	padding: 0
}
.navbar-default .navbar-nav{
	float: none;
	clear: both;
}
.navbar-default .menu-wrap{
	background-color: #c89812;
}
.navbar-default .menu-wrap .navbar-nav>li>a{
	color: #fefefe;
	padding:10px 28px;
	border-right: 1px solid #555;
}
.navbar-default .menu-wrap .navbar-nav>li:first-child>a{
	padding:10px 27px 10px 0;
}
.navbar-default .menu-wrap .navbar-nav>li:last-child>a{
	border:0;
	padding:10px 0 10px 27px;
}
.navbar-default .menu-wrap .navbar-nav>li>a:focus{
	outline: none
}
.navbar-default .menu-wrap .navbar-nav>li>a:hover,
.footer-wrap .copyright a:hover,
.main h4 span a:hover,
.contact .form-group .btn-primary:hover,
.btn-primary:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
	color:#1e1e1e;
	transition:all linear 0.6s;
	text-decoration: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
	background-color:transparent;
}
.dropdown-menu{
	margin-top:-1px ! important;
	min-width:140px;
	padding:0;
}
.dropdown-menu > li{
	border-bottom:1px solid #e4e4e4;
}
.dropdown-menu > li:last-child{
	border:0
}
.navbar-nav .open .dropdown-menu>li>a{
	padding:8px 20px
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
	background-color:#cf3102;
	color:#fefefe
}
.btn-primary:hover{
	background-color: #c89812;
	border:1px solid transparent;
	color:#fefefe;
}
/*slider section*/
body>section{
	margin:10px auto;
}
body>section.odd{
	background-color: #e4e4e4;
}
body>section.even{
	padding:30px 0 5px;
}
body>section h2{
	display: inline;
	border-bottom: 1px solid #c89812
}
#slider-wrap{
	margin:0 
}
#slider-wrap .main-slider{
	padding:0;
	position: relative;
}
#slider-wrap .owl-wrapper-outer .owl-item .item{
	height: 520px;
	background-position: center top;
	background-size: cover ! important;
	background-repeat: no-repeat;
	position: relative;
}
#slider-wrap .owl-wrapper-outer .owl-item .item:before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height:100%;
	background-color: rgba(21,14, 81, 0.5);
}
#slider-wrap .owl-wrapper-outer .owl-item .item fieldset{
	position: absolute;
	color:#fefefe;
	text-align: center;
	top:50%;
	width: 100%;
	margin-top: -50px
}
#slider-wrap .owl-wrapper-outer .owl-item .item fieldset figcaption{
	font-size: 50px;
	line-height: 71px
}
#slider-wrap .owl-wrapper-outer .owl-item .item fieldset span{
	font-size: 24px;
}
section .content-wrap{
	color:#1e1e1e;
	text-align: center;
	margin-bottom: 30px
}
section .content-wrap .study{
	float: left;
	background-color: #cf3102;
	padding:10px 15px;
	width: 50%;
	min-height: 274px
}
section .content-wrap .study h3{
	font-size: 20px;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 7px
}
section .content-wrap .img-wrap{
	float: right;
	width: 50%
}
section .content-wrap .img-wrap,
#event .content-wrap .event-wrap,
#full .content-wrap .event-wrap {
	background-size: cover ! important;
	background-position: center center;
	opacity:0.8;
}
section .content-wrap:hover .img-wrap{
	opacity: 1;
	transform:scale(1.007)
}
section .snd-col{
	margin:0;
}
section .snd-col .study{
	float: right;
}
section .snd-col .img-wrap{
	float: left;
}
/*study section*/
#study-sec .content-wrap .img-wrap{
	height:274px;
}
#study-sec .content-wrap,
#study-sec .content-wrap .btn-primary{
	color:#fefefe;
}
/*courses section*/
#courses,
#testimonial,
#img-vid,
#university{
	padding:30px 0 5px;
}
section .title-wrap{
	text-align: center;
	padding: 0 0 25px
}
section .title-wrap .glyphicon{
	font-size: 24px;
	margin-right: 10px;
	color: #cf3102;
}
section .title-wrap .glyphicon img{
	margin-bottom: 4px
}
section .content-wrap .btn-primary{
	color:#1e1e1e;
	float: none;
	margin: 0 auto;
    display: block;
    width: 140px;
    text-align: center;
}
/*event & message*/
#event .message article{
	min-height: 260px
}
#event .message img{
	border-radius: 100%
}
#event .content-wrap h4,
#img-vid .content-wrap h4{
	border-bottom: 1px solid #c89812;
	padding:0 0 10px;
	margin:0 0 20px;
}
#event .content-wrap .btn-primary{
	clear: both;
}
#event .content-wrap .event-wrap{
	height: 255px;
	position: relative;
	width: 32%;
	float: left;
	margin:0 0 15px 2%;
}
#event .content-wrap .event-wrap:first-of-type{
	margin: 0
}
#event .content-wrap .event-wrap figcaption,
#full .content-wrap .event-wrap figcaption{
	position: absolute;
	width: 100%;
	background-color: #cf3102;
	bottom: 0;
}
#event .content-wrap .event-wrap figcaption a,
#full .content-wrap .event-wrap figcaption a{
	width: 100%;
	display: block;
	padding:10px;
	color: #fefefe
}
#event .content-wrap .event-wrap:hover figcaption a{
	background-color: #e4e4e4;
	color:#1e1e1e;
	text-decoration: none;
}
#event .content-wrap .btn-wrap{
	clear: both;
	width: 100%;
	overflow: hidden;
}
/*testimonial section*/
#testimonial #testimo{
	padding:0 0 10px;
}
#testimonial #testimo .item fieldset{
	float: left;
	width: 85%;
	margin-right: 2%;
	color:#1e1e1e;
	text-align: center;
}
#testimonial #testimo .item fieldset p code{
	background-color: transparent;
	font-size: 40px
}
#testimonial #testimo .item fieldset span{
	font-size: 20px;
	font-weight: 500
}
#testimonial #testimo .item .img-wrap{
	float: right;
	width: 13%;
	margin:10px 0 0;
}
#testimonial #testimo .item .img-wrap img{
	border-radius: 100%;
}
#testimonial .owl-wrapper-outer .owl-item .item{
	height: 130px
}

/*video,image, facebook*/
#img-vid .content-wrap{
	min-height: 195px
}
#img-vid .content-wrap .facebook{
	height: 145px;
	border: 1px solid #e4e4e4
}
#img-vid .content-wrap .row{
	margin: 0
}
#img-vid .content-wrap .img-gal{
	float: left;
	width: 32%;
	margin: 0 2% 2% 0
}
#img-vid .content-wrap .img-gal:nth-child(3n){
	margin: 0 0 2% 0
}
.thumbnail{
	border: 0;
}
#img-vid .content-wrap .img-gal .thumbnail{
	padding: 0;
	border-radius: 0;
	width: auto;
	max-height: 71px;
	margin: 0	
}
.modal-header{
	border: 0;
	padding:15px 15px 0;
	overflow: hidden;
}
.modal-body #photoShow div{
	margin-bottom: 10px
}
.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}

/*univrsity section*/
#univ-logos{
	
}
#univ-logos .owl-pagination{
	display: none;
}
#univ-logos .owl-wrapper-outer .owl-item .item{
	background-color: #fefefe;
	margin-right: 15px
}
#univ-logos .owl-wrapper-outer .owl-buttons .owl-prev{
	background-color: green
	
}
/*content pages*/
#full{
	background-color: #e4e4e4;
	margin: 0
}
#full .container{
	padding:30px 15px;
	background-color: #fefefe
}

#full .content-wrap .event-wrap{
	width: 100%;
	height: 190px;
	position: relative;
	margin-bottom: 10px
}
#full .detail img{
	width: 380px;
	height: auto;
	max-height: 380px;
	float: left;
	margin: 6px 10px 5px 0
}
#full .img-full{
	height: auto;
	overflow: hidden;
}
#full .img-full .img-wrap{
	float: left;
	width: 24%;
	margin:0 1.3% 1.3% 0;
}
#full .img-full .img-wrap:nth-child(4n+1){
	margin:0 0 1.3% 0;
}

/*contact page*/
.contact .content-wrap{
	text-align: left;
}
.contact .content-wrap .form-group input,
.contact .content-wrap .form-group textarea{
	width: 100%
}
.contact .content-wrap .form-group .btn-primary{
	float: right;
}
.contact .content-wrap .map{
	height: 255px;
	border: 1px solid #e4e4e4;
	padding: 5px
}
/*footer*/
.footer-wrap{
	background-color: #e4e4e4;
	text-align: center;
	padding:15px;
}
.footer-wrap .container .copyright span{
	display: inline-block;
	padding-top: 10px;
	border-top:2px solid #c89812;
}
.footer-wrap .container{
	padding:0 15px;
	background-color: #fefefe;
}
.footer-wrap .container .bottom-wrap{
	padding:30px 0 20px;
	position: relative;
}
.footer-wrap .container .bottom-wrap .bottom{
	position: absolute;
	content: "";
	border-top: 50px solid transparent;
	border-bottom: 0
}
.footer-wrap .container .bottom-wrap .left{
	bottom:0;
	left: 0;
	border-left: 100px solid #c89812;
}
.footer-wrap .container .bottom-wrap .right{
	border-right: 100px solid #cf3102;
	right:0;
	bottom: 0
}